.App {
  background: #333;
}
.App h2 {
  color: #fff;
}
.app__area {
  padding: 0px 15px;
}
.movie_card_list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.movie_card_list img {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: ease-in-out all 450ms;
}
/* width */
::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar ← You're missing this */
  width: 4px; /* width of vertical scrollbar */
  /* border: 1px solid #d5d5d5; */
}
@media screen and (min-width: 768px) {
  .movie_card_list img {
    max-height: 180px;
  }
}

.movie_card_list img:hover {
  transform: scale(1.05);
}

.movie_card_list_Large img {
  max-height: 250px;
}
