.banner {
  height: 500px;
  /* padding: 4rem; */
  color: #fff;
  line-height: 1.5;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}
.banner__content {
  width: 30rem;
  padding: 3rem;
}
.banner__content p {
  font-size: 14px;
}

.banner__content h3 {
  font-size: 2rem;
}

.banner__content button {
  background: rgb(0 0 0 / 57%);
  border: 0;
  color: #fff;
  padding: 10px 30px;
  margin-right: 10px;
}
.banner__content button:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
}
.banner_fadedbottom {
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  width: 100%;
}
